<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="text-theme-primary">Add New Post</h3>
      <p class="mb-5">You can add your new post here</p>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="col-md-7">
        <div class="card shadow-effect">
          <div class="card-body">
            <div class="form-group">
              <label>Title</label>
              <input
                type="text"
                class="form-control my-2"
                placeholder="Enter title"
                (keyup)="generatePermalink($event)"
              />
            </div>
            <div class="form-group">
              <label>Permalink</label>
              <input
                type="text"
                name="permalink"
                [(ngModel)]="permalink"
                class="form-control my-2 bg-light"
                [disabled]="true"
              />
            </div>
            <div class="form-group">
              <label>Excerpt</label>
              <textarea
                cols="30"
                rows="10"
                class="form-control my-2"
              ></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card shadow-effect">
          <div class="card-body">
            <div class="form-group">
              <label>Please select a post category</label>
              <select class="form-control my-2">
                <option disabled selected>Select category</option>
                <option
                  *ngFor="let category of categories$ | async"
                  [value]="category.id"
                >
                  {{ category.data.category }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Post Image</label>
              <img
                [src]="imgSrc"
                class="form-control img-fluid img-preview"
                alt=""
              />
              <input
                type="file"
                class="form-control my-2"
                accept="image/*"
                (change)="showPreview($event)"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 mb-5">
        <div class="col-md-12">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="form-group">
                <label>Content</label>
                <angular-editor
                  placeholder="Add your content here"
                ></angular-editor>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-center my-4">
          <button class="btn bg-theme me-1">Save Post</button>
          <button class="btn btn-warning ms-1" routerLink="../">
            Back to Post
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
