<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="text-theme-primary">Add New Post</h3>
      <p class="mb-5">You can add your new post here</p>
    </div>
  </div>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-7">
        <div class="card shadow-effect">
          <div class="card-body">
            <div class="form-group">
              <label>Title</label>
              <input
                type="text"
                class="form-control my-2"
                placeholder="Enter title"
                (keyup)="generatePermalink($event)"
                formControlName="title"
                [ngClass]="{
                  'is-invalid': showFormErrors('title'),
                  'is-valid':
                    !showFormErrors('title') && postForm.get('title')?.touched
                }"
              />
              <div *ngIf="showFormErrors('title')" class="alert alert-danger">
                {{ showFormErrors("title") }}
              </div>
            </div>
            <div class="form-group">
              <label>Permalink</label>
              <input
                type="text"
                class="form-control my-2 bg-light"
                formControlName="permalink"
                [ngClass]="{
                  'is-invalid': showFormErrors('permalink'),
                  'is-valid':
                    !showFormErrors('permalink') &&
                    postForm.get('permalink')?.touched
                }"
              />
              <div
                *ngIf="showFormErrors('permalink')"
                class="alert alert-danger"
              >
                {{ showFormErrors("permalink") }}
              </div>
            </div>
            <div class="form-group">
              <label>Excerpt</label>
              <textarea
                cols="30"
                rows="10"
                class="form-control my-2"
                formControlName="excerpt"
                placeholder="Enter excerpt"
                [ngClass]="{
                  'is-invalid': showFormErrors('excerpt'),
                  'is-valid':
                    !showFormErrors('excerpt') &&
                    postForm.get('excerpt')?.touched
                }"
              ></textarea>
              <div *ngIf="showFormErrors('excerpt')" class="alert alert-danger">
                {{ showFormErrors("excerpt") }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card shadow-effect">
          <div class="card-body">
            <div class="form-group">
              <label>Category</label>
              <select
                class="form-control my-2"
                formControlName="category"
                [ngClass]="{
                  'is-invalid': showFormErrors('category'),
                  'is-valid':
                    !showFormErrors('category') &&
                    postForm.get('category')?.touched
                }"
              >
                <option value="" disabled selected>Select category</option>
                <option
                  *ngFor="let category of categories$ | async"
                  value="{{ category.id }}-{{ category.data.category }}"
                >
                  {{ category.data.category }}
                </option>
              </select>
              <div
                *ngIf="showFormErrors('category')"
                class="alert alert-danger"
              >
                {{ showFormErrors("category") }}
              </div>
            </div>
            <div class="form-group">
              <label>Post Image</label>
              <img
                [src]="imgSrc"
                class="form-control img-fluid img-preview"
                alt="post image"
              />
              <input
                type="file"
                class="form-control my-2"
                accept="image/*"
                (change)="showPreview($event)"
                formControlName="postImg"
                [ngClass]="{
                  'is-invalid': showFormErrors('postImg'),
                  'is-valid':
                    !showFormErrors('postImg') &&
                    postForm.get('postImg')?.touched
                }"
              />
              <div *ngIf="showFormErrors('postImg')" class="alert alert-danger">
                {{ showFormErrors("postImg") }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 mb-5">
        <div class="col-md-12">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="form-group">
                <label>Content</label>
                <angular-editor
                  placeholder="Add your content here"
                  formControlName="content"
                  [ngClass]="{
                    'is-invalid': showFormErrors('content'),
                    'is-valid':
                      !showFormErrors('content') &&
                      postForm.get('content')?.touched
                  }"
                ></angular-editor>
                <div
                  *ngIf="showFormErrors('content')"
                  class="alert alert-danger mt-2"
                >
                  {{ showFormErrors("content") }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-center my-4">
          <button class="btn bg-theme me-1" [disabled]="postForm.invalid">
            Save Post
          </button>
          <button type="button" class="btn btn-warning ms-1" routerLink="../">
            Back to Post
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
