<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <h3 class="text-center text-theme-primary">New Categories</h3>
      <p class="text-center mb-5">You can add new categories from here ..!</p>
      <form
        class="row align-items-center g-5"
        #categoryForm="ngForm"
        (ngSubmit)="onSubmit(categoryForm)"
      >
        <div class="form-group col-md-10">
          <input
            type="text"
            name="category"
            class="form-control shadow-effect"
            placeholder="Add New Categories"
            #newCategory="ngModel"
            ngModel
            required
            [ngClass]="{
              'is-invalid': newCategory.invalid && newCategory.touched
            }"
          />
          <div
            class="alert alert-danger mt-3"
            *ngIf="newCategory.invalid && newCategory.touched"
          >
            Category is required
          </div>
        </div>
        <div class="col-md-2">
          <button
            class="btn btn-lg btn-theme"
            [disabled]="categoryForm.invalid"
          >
            Add Category
          </button>
        </div>
      </form>
    </div>
  </div>
  <div
    *ngIf="categories$ | async as categories"
    class="row my-5 justify-content-center"
  >
    <div class="col-md-6">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table text-center">
            <thead>
              <tr>
                <th>No</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ category.data.category }}</td>
                <td>
                  <button class="btn btn-sm btn-primary me-1">Update</button>
                  <button class="btn btn-sm btn-danger ms-1">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
