<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-center">All Blog Posts</h3>
          <p>From here you can manage your blog posts</p>
          <button class="btn bg-theme me-1" routerLink="new">
            Add New Post
          </button>
          <button class="btn btn-warning ms-1" routerLink="/">
            Back to Dashboard
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
