<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-center">All Blog Posts</h3>
          <p>From here you can manage your blog posts</p>
          <button class="btn bg-theme me-1" routerLink="new">
            Add New Post
          </button>
          <button class="btn btn-warning ms-1" routerLink="/">
            Back to Dashboard
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-12">
      <div
        *ngIf="posts$ | async as posts; else loader"
        class="card shadow-effect"
      >
        <div *ngIf="posts.length" class="card-body">
          <table class="table text-center">
            <thead>
              <tr>
                <th>No</th>
                <th>Image</th>
                <th>Title</th>
                <th>Excerpt</th>
                <th>Category</th>
                <th>Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of posts; let i = index">
                <td width="10">{{ i + 1 }}</td>
                <td width="200">
                  <img
                    [src]="post.data.postImgPath"
                    alt="post.data.title"
                    class="img img-fluid post-img"
                  />
                </td>
                <td width="200">{{ post.data.title }}</td>
                <td width="300">{{ post.data.excerpt }}</td>
                <td>{{ post.data.category.category }}</td>
                <td>{{ formatDate(post.data.createdAt) }}</td>
                <td width="150">
                  <button
                    class="btn btn-sm btn-warning me-1"
                    routerLink="new"
                    [queryParams]="{ id: post.id }"
                  >
                    Update
                  </button>
                  <button
                    class="btn btn-sm btn-danger ms-1"
                    (click)="onDelete(post.id, post.data.postImgPath)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="!posts.length" class="card-body text-center">
          <h3 class="text-theme-center">No Posts Found ☹</h3>
          <p>There are no posts available</p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loader>
    <app-loader [isLoad]="isLoad"></app-loader>
  </ng-template>
</div>
